geojson~=3.2.0
typeguard~=4.4.4
shapely~=2.1.1
tqdm~=4.67.1
requests~=2.32.4
aiohttp~=3.13.2
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
