geojson~=3.1.0
typeguard~=4.4.0
shapely~=2.0.6
tqdm~=4.67.0
setuptools>=75.3.0
requests~=2.32.3
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability

